body{
    background-image: url("./src/assets/fundo.png");
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    
    
}

.boxLogin{
    border: 2px solid rgb(126, 69, 40);
    position: fixed;
    display: block;
    text-align: center;
    left: 33%;
    top: 30%;
    min-width: 250px;
    min-height: 200px;
    width: 35vw;
    height: 40vh;
    background-color: rgb(255, 233, 210);
    border-radius: 10vh;

}



.divLogin{
    margin-top: 15%;
    display: block;
    position: relative;
}



.welcome{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
    color:  rgb(108, 57, 31);

}



 #login{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-style: italic;
    border-radius:15px ;
    text-align: center;
    padding: 25px;
    font-size:medium;
    position: relative;
    color:  rgb(108, 57, 31);

    margin-left: 5%;
    background-color: rgb(252, 200, 158);
}

#login:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-style: italic;
    border-radius:15px ;
    text-align: center;
    font-size:medium;
    padding: 25px;
    position: relative;
    margin-left: 5%;
    color:  rgb(108, 57, 31);

    background-color: rgb(252, 191, 129);
}


 #register{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-size:medium;
    border-radius:15px ;
    text-align: center;
    padding: 25px;
    margin: 4%;
    color:  rgb(108, 57, 31);

    background-color: rgb(251, 188, 161);
    
   
}


#register:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-size:medium;
    font-style: italic;
    border-radius:15px ;
    text-align: center;
    padding: 25px;
    color:  rgb(108, 57, 31);

    margin: 4%;
    background-color: rgb(250, 166, 141);
   
}

