body{
   background-image: url("./src/assets/fundo.png");
    background-size: cover;
    position: fixed;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.boxLogin{
    border: 2px solid rgb(126, 69, 40);
    position: fixed;
    display: block;
    text-align: center;
    left: 38%;
    margin-left: -15px;
    top: 30%;
    min-width: 250px;
    min-height: 260px;
    width: 30vw;
    max-height: 260px;
    background-color: rgb(255, 233, 210);
    border-radius: 10vh;

}



.divLogin{
    margin-top: 6vh;
    display: block;

    position: relative;
    margin-left: 10%;
    margin-right: 10%;

}



.welcome{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
    color:  rgb(108, 57, 31);
    padding: 2%;
}



 #login{
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-style: italic;
    border-radius:15px ;
    text-align: center;
    padding: 20px;
    font-size:medium;
    position: relative;
    color:  rgb(108, 57, 31);
    margin-left: 5%;
    background-color: rgb(252, 200, 158);
}

#login:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
    background-color: rgb(255, 190, 137);
    text-decoration: underline;
}


 #register{
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: none;
    font-size:medium;
    border-radius:15px ;
    text-align: center;
    padding: 20px;
    margin: 4%;
    color:  rgb(108, 57, 31);
    margin-left: 10%;
    background-color: rgb(216, 168, 147);
    
   
}


#register:hover{
    font-family: Georgia, 'Times New Roman', Times, serif;
    cursor:pointer;
    background-color: rgb(189, 147, 130);
    text-decoration: underline;

}


 