.form1{
    position: fixed;
    display: block;
    min-width: 250px;
    min-height: 250px;
    width: 25vw;
    height: 35vh;
    left: 38%;
    top: 25%;
    border-radius:10vh;
    text-align: center;
    background-color: rgb(255, 233, 210);
    border: 2px solid rgb(126, 69, 40);
}

.boxlogon{
   display: block;
   position: relative;
   margin-top: 4.5vh ;

}

.FotoPerfil{
    display: flex;
    margin:auto;
    padding: 7px;
    border: none;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    width: 44px;
    max-width: 44px;
    
}

.FotoPerfil:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#foto{
    opacity: 0%;
   
}
#foto:hover{
    opacity: 0%;
    cursor: pointer;
}

.TEXT{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
    color:  rgb(108, 57, 31);
    margin: 12px;
}


.divlogon button{
    display:block;
    margin: 20px;
}

.buttons{
    display:flex;
    margin-left: 8vw;
    margin-right: 8vw;

}

#cancel1{
    margin:auto;
    padding: 10px;
    border: none;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#cancel1:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;}

#submit1{
    margin:auto;
    padding: 10px;
    border: none;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#submit1:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

.user{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    
}

.pass{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
    
}