.form{
    position: fixed;
    display: block;
    text-align: center;
    left: 35%;
    top: 30%;
    width: 35%;
    height: 40%;
    background-color: aliceblue;
    border-radius: 10vh;
}

.boxSignIn{
   display: block;
   position: relative;
   margin-top: 80px ;
}

.TEXT{
    font-family: Arial, Helvetica, sans-serif;
}


.user{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    position: relative;
    
}

.pass{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    position: relative;
    display: inline-block;
    
}