.form2{
    position: fixed;
    display: block;
    min-width: 250px;
    min-height: 275px;
    width: 30vw;
    max-height: 260px;
    left: 38%;
    top: 20%;
    margin-left: -3vw;
    border-radius:10vh;
    text-align: center;
    background-color: rgb(255, 233, 210);
    border: 2px solid rgb(126, 69, 40);
}

.boxSignIn{
   display: block;
   position: relative;
   margin-top: 4.5vh ;
}

.TEXT{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
    color:  rgb(108, 57, 31);
    margin: 12px;
}

.divSignIn button{
    display:block;
    margin: 20px;
}

.buttons2{
    display:flex;
    margin-left: 8vw;
    margin-right: 8vw;
    

}

#cancel2{
    margin:auto;
    padding: 10px;
    border: none;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#cancel2:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;

}

#submit2{
    margin:auto;
    padding: 10px;
    border: none;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#submit2:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;

}

.user{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    
}

.pass{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
    
}