#bodyR{
    height: 120vh;
    margin: auto;
    width: 1000vw;
    position: fixed;
     top: 0;
     left: 0;
    margin-left: -10px;
    margin-top: -10px;
    background-image: url("./src/assets/punsheen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.form1{
    position: fixed;
    display: block;
    min-width: 250px;
    min-height: 275px;
    max-height: 275px;
    
    width: 30vw;
 
    left: 38%;
    top: 20%;
    margin-left: -3vw;
    border-radius:10vh;
    text-align: center;
    background-color: rgb(255, 233, 210);
    border: 2px solid rgb(126, 69, 40);
}

.boxlogon{
   display: block;
   position: relative;
   margin-top: 2vh ;

}




input[type=file]{ 
    color:transparent;
    
}



input::file-selector-button {
    visibility: hidden;    
  }



.TEXT{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 400;
    font-size: 45px;
    color:  rgb(108, 57, 31);
    margin: 12px;
}

.buttons{
    padding: 4px;
}

#files{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    background-color: white;
    color: grey;
    width: 180px;
    cursor: pointer;
}

#files:hover , .user:hover , .pass:hover{
    background-color: rgb(239, 239, 239);
}


#cancel1{
    margin: 5px;
    padding: 10px;
    border: none;
    position: relative;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
  
}

#cancel1:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;
}

#submit1{
    padding: 10px;
    border: none;
    border-radius: 20%;
    background-color: rgb(151, 105, 67);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    position: relative;
}

#submit1:hover{
    cursor:pointer;
    background-color: rgb(173, 127, 89);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration: underline;

}

.user{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    
}

.pass{
    border: none;
    border-radius:10px ;
    text-align: center;
    padding: 10px;
    margin: 5px;
    position: relative;
    display: inline-block;
    
}

