.box {
    border: 1px solid rgb(126, 69, 40) ;
    display: flex;
    justify-content:center ;
    background-color: rgb(255, 233, 210);
    padding: 5px;
    width: 849px;
}

#all{
    border: 1px solid rgb(126, 69, 40) ;
    width: 860px;
}

.box h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(126, 69, 40);
}



.pessoas {
   
    display: flex;
    justify-content:center ;
    gap: 15px;
    background-color: rgb(255, 233, 210);
    padding: 30px;
    width: 800px;
}

.nomes {
    display: flex;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(126, 69, 40);
    justify-content:center ;
    gap: 345px;
    background-color: rgb(255, 233, 210);
    padding: 5px;
    width: 850px;
}

.emails {
    display: flex;
    justify-content:center ;
    gap: 330px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(126, 69, 40);
    background-color: rgb(255, 233, 210);
    padding: 5px;
    width: 850px;
}

.foto{
    border-radius: 6%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 400px;
    border: 1px solid rgb(126, 69, 40);
}

@media (max-width: 768px) {
    #all {
        width: 480px; /* Adjust input width for smaller screens */
    }

    .box {
        width: 97.4%; /* Expand dropdown to fit smaller screens */
       
    }

    .foto {
        height: 20vh;
    }
    .emails {
       font-size:small;
       padding: 0%;
       width: 480px;
       gap: 30%;
    }
    .nomes {
        font-size:small;
        padding: 0%;
        width: 480px;
        gap: 30%;
    }
    .pessoas {
      padding: 2%;
       width:461px;
       gap: 20%;
    }
}