#Criar{
    background-color: rgb(255, 233, 210);
    padding: 20px;
    width: 600px;
    border-radius: 7%;
    display: grid;
}
.form{
    display: grid;
}

.posts{
    border: 1px solid rgb(126, 69, 40) ;
    border-radius: 4%;
    display: column;
    align-items:center;
    margin-top: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}

.submit{
    background-color: rgb(126, 69, 40);
    color: antiquewhite;
    padding: 7px;
   margin-top: 5px;
    width: 10%;
    margin-left: 45%;
    border-radius: 20%;
    border: 1px solid rgb(255, 233, 210);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

.textarea{
    border-radius: 4%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.posts h3{
    margin-left: 40%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(126, 69, 40);
    
}

@media (max-width: 768px) {
    #Criar {
        width: 420px; /* Adjust input width for smaller screens */
    }

    .submit {
        width: 20%; /* Expand dropdown to fit smaller screens */
        margin-left: 40%;
    }
}